<manifest package="com.e16din.screensadapter"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <activity
            android:name="com.e16din.screensadapter.activities.StarterActivity"
            android:theme="@style/StarterTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <activity
            android:name="com.e16din.screensadapter.activities.DefaultActivity"/>

        <activity
            android:name="com.e16din.screensadapter.activities.DialogActivity"
            android:theme="@style/AppTheme.Dialog"/>

    </application>

</manifest>
